/*背景图*/
body {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: "ch";
}

html, body {
    min-width: 1400px;
}

@font-face {
    font-family: "ch";
    src: url(../font/ch.ttf);
}

/* 去除按钮聚焦边框 */
button:focus {
    outline: none;
    border-color: transparent;
    cursor: pointer;
}

/*内容区域*/
.content h1,
.content h3 {
    text-align: center;
}

.content h1 {
    color: #fff;
    margin-top: 40px;
    font-weight: 100;
    font-size: 45px;
}

.content h3 {
    color: #fff;
    margin-bottom: 40px;
    font-weight: 100;
}